/***** Page *****/

body {
    background: #FFFFFF;
    background-color: #f2f2f2;
    background-position: top;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: .8em;
}

body a:visited {
    text-decoration: none;
    border: 0;
}

.left {
    float: left;
    padding: 0;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
    display: inline;
}

.right {
    display: inline;
    float: right;
    text-align: right;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
}

/***** Wrapper *****/

#wrapper {
    background: #f2f2f2;
    color: #000;
    margin: 0;
    padding: 0;
    width: 910px;
}

/***** Banner *****/

#banner {
    margin: 0 0 0 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #004477;
    background-image:url('../images/logo.gif');
    background-position:98% 50%;
    background-repeat:no-repeat;
}

#banner h1 {
    margin: 0 0 -.2em 0;
    padding: 0.5em 0 0 1.0em;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #ffffff;
    background-color: transparent;
}

#banner h2 {
    margin: 0 0 0 0;
    padding: 1em 0 1em 1.75em;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
    color: #fcfcfc;
    background-color: transparent;
}

/***** vmenu *****/

#vmenu {
        width: 100%;
        height: 29px;
        margin: 0;
        padding: 0;
        background: #000000 url(../images/bgplastic.gif) top left repeat-x;
}
#vmenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
	min-width: 880px;
}
#vmenu ul li {
        float: left;
        margin: 0;
        padding: 0;
        background: transparent url(../images/bgplastic-button.gif) top left no-repeat;
        height: 30px;
}

#vmenu a {
        display: block;
        float: left;
        height: 20px;
        padding-top: 7px;
        padding-left: 11px;
        padding-right: 11px;
        text-transform: uppercase;
        font-family: "Helvetica Neue",helvetica,"microsoft sans serif",arial,sans-serif;
        font-size: 85%;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
}

#vmenu ul li a span.menu_ar {
        height: 22px;
        cursor: pointer;
}

#vmenu ul li a:hover {
        background: transparent url(../images/bgplastic-red.gif) top left no-repeat;
}

#vmenu img {
        padding-left: 6px;
        margin-top: -3px;
}

/***** Content *****/

#content {
    border-left: 1px solid #e0e0e0;
    float: right;
    display: inline;
    background: #FFFFFF;
    padding: 10px 15px 10px 15px;
    margin: 0;
    width: 700px;
    color: #000000;
    min-height: 450px;
}

#content hr {
    clear:both;
    background-color: #000000;
    height: 1px;
    border: none;
}

#content h3 {
    clear:left;
    font-size: 14pt;
    font-weight: normal;
    margin: 0;
    padding: 10px 5px 0 0;
    text-align: left;
    background: inherit;
}

#content h4 {
    clear:left;
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
    padding: 5px 0 0 10px;
    font-weight: normal;
    background: inherit;
}

#content pre code {
    margin: 0 0 0 35px;  /*--Left Margin--*/
    padding: 18px 0;
    display: block;
    white-space: pre-wrap;
}

#content pre.code {
    font-family: "Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace;
    font-size: 12px;
    /* t r b l */
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid #BBD1E2;
    line-height: 14px;
    white-space: pre-wrap;
    width: 97%;
    max-width: 680px;
}

#content p {
    text-align: justify;
    text-align-last: left;
}

#content p.left {
    text-align: left;
    margin: 10px;
}

#content dt {
    margin: 10px;
}

#content a {
    text-decoration: underline;
    color: #000088;
    background: inherit;
}

#content a:hover {
    text-decoration: underline;
}

#content ul{
    list-style-type:square;
}

#content ul li{
    padding-bottom:.7em;
}

#content ul li pre{
    margin-left: 0;
    padding-left: 0;
}

#content ol{
}

#content ol li{
    padding-bottom:.7em;
}

#content ol li {
    margin-left: 0;
    padding-left: 0;
}

#content .frame {
    width: 700px;
    height: 510px;
    background-color: #CFCFCF;
    border: 1px solid #000000;
    position: relative;
}

#content .weatherpic {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    border: 1px solid #000000;
}

#content .sensordata {
    font-size: 1.5em;
    width: 210px;
    height: 70px;
    line-height: 30px;
    background-color: #CFCFCF;
    text-align: center;
    border: 1px solid #000000;
}

#content .sensorvalue {
    font-size: 1.7em;
    display: inline-block;
    vertical-align: bottom;
    line-height: 40px;
}

#content .locationvalue {
    font-size: 1em;
    display: inline-block;
    vertical-align: bottom;
    line-height: 20px;
}

#content .sensorspace { width: 5px; }

#content .dmovtable {
    width: 100%;
    border-collapse: collapse;
}

#content .dmovcell {
    height: 88px;
    background-color: #F3F3F3;
    padding-top: 4px;
    text-align: center;
    border: 1px solid #000000;
}

#content .dmovimg { border: 1px solid #000000; margin: 2px; }

#content .monthhead {
    font-size: 1.5em;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #CFCFCF;
    text-align: center;
    border: 1px solid #000000;
}

#content .monthcell { font-size: 1em;
    font-weight: bold;
    width: 50px;
    background-color: #F3F3F3;
    padding-top: 4px;
    text-align: center;
    border: 1px solid #000000;
}

#content .datacell {
    font-size: 1em;
    width: 50px;
    padding-top: 4px;
    text-align: right;
    border: 1px solid #000000;
}

#content .emptycell {
    background-color: #F3F3F3;
    font-size: 0.9em;
    width: 50px; 
    padding-top: 4px;
    text-align: center;
    border: 1px solid #000000;
}

#content .fullgraph {
    height: 150px;
    margin: 15px 0;
}

#content table { /* t r b l */ margin: 10px 0 10px 0; }

#content th {
    padding-left: 5px;
    padding-right: 5px;
    background: #004477;
    color: #FFFFFF;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: .8em;
}

#content td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    font-family: Arial,Helvetica,sans-serif;
    font-size: .8em;
}

#content img {
    border-style: none;
}

#content .copyright {
    clear:both;
    float: right;
    margin: 0;
    font-size: .8em;
    padding: 15px 5px 0 0;
    text-align: right;
    background: inherit;
}

/***** Side Content *****/

#sidecontent {
    width: 190px;
    color: #000000;
}

#sidecontent h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    /* t r b l */
    padding: 10px 15px 2px 10px;
    text-align: left;
}
#sidecontent ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: inherit;
    text-align: left;
}

#sidecontent p {
    /* t r b l */
    padding: 10px 10px 0 10px;
    text-align: center;
}

#sidecontent a {
    color: #000088;
}

#sidecontent li {
    padding: 0.1ex 0;
}

#sidecontent li a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 8px 10px;
    background: inherit;
}

#sidecontent li a:hover {
    color: #FFFFFF;
    background: transparent url(../images/bgplastic-red.gif) top left no-repeat;
}

#sidecontent li ul li {
    font-size: 0.88em;
    display: block;
}

#sidecontent hr {
    clear:both;
    background-color: #000000;
    height: 1px;
    border: none;
}

#sidecontent img {
    padding: 8px 10px;
    display: block;
    margin: 0 auto;
    border-style: none;
}

#sidecontent table {
    width: 145px;
    margin: 10px;
    border-collapse: collapse;
}

#sidecontent th {
    text-align: left;
    background-color: #CFCFCF;
    border: 1px solid #000000;
}

#sidecontent td, th {
    padding: 5px;
    border: 1px solid #000000;
}

/***** Footer *****/

#footer {
    clear: both;
    color: #006666;
    font-size: .9em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
}

#footer a {
    background: inherit;
    color: #000088;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .left {
    margin: 0 0 0 8px;
}

#footer .right {
    margin: 0 8px 0 0;
}
